@use '../../styles/colors';

.formation_field {
	$line_width: 4px;

	aspect-ratio: 6 / 3;
	width: 90%;
	border: solid $line_width white;
	position: relative;

	.field_lines {
		position: absolute;
		inset: 0;
		pointer-events: none;

		.area_grande_1,
		.area_grande_2 {
			width: 15%;
			height: 60%;
			position: absolute;
			top: 20%;
			border: solid $line_width colors.$white;

			// Medialuna
			&::after {
				content: '';
				width: 3vw;
				height: calc(3vw * 2);
				border: solid 3px white;
				position: absolute;
				top: calc((100% - (3vw * 2)) / 2);
			}

			.area_chica {
				height: 50%;
				width: 50%;
				position: absolute;
				top: 25%;
				border: solid $line_width colors.$white;
			}
			.arco {
				background: repeating-linear-gradient(
					45deg,
					colors.$white,
					colors.$white 2px,
					transparent 2px,
					transparent 4px
				);
				border: solid 3px colors.$white;
				height: 30%;
				width: 20%;
				position: absolute;
				top: 35%;
			}
		}
		// Medialuna izquierda
		.area_grande_1 {
			&::after {
				right: -3vw;
				border-bottom-right-radius: calc(3vw * 2);
				border-top-right-radius: calc(3vw * 2);
			}
		}
		.area_grande_1,
		.area_grande_1 .area_chica {
			left: 0;
			border-left-width: 0;
		}
		.area_grande_1 .arco {
			left: -20%;
		}
		//Medialuna derecha
		.area_grande_2 {
			&::after {
				left: -3vw;
				border-bottom-left-radius: calc(3vw * 2);
				border-top-left-radius: calc(3vw * 2);
			}
		}
		.area_grande_2,
		.area_grande_2 .area_chica {
			right: 0;
			border-right-width: 0;
		}
		.area_grande_2 .arco {
			right: -20%;
		}
		.linea_mitad_cancha {
			background-color: colors.$white;
			width: $line_width;
			height: 100%;
			position: absolute;
			left: calc(50% - 2px);
		}
		.circulo_mitad_cancha {
			width: 25%;
			aspect-ratio: 1 / 1;
			border: solid $line_width colors.$white;
			border-radius: 50%;
			position: absolute;
			top: 25%;
			left: 37.5%;
		}
	}
	.positions_container {
		display: flex;
		justify-content: space-evenly;
		height: 100%;
		position: relative;

		// Arquero siempre fijo a la izquierda de la cancha
		& > :first-child {
			height: 100%;
			position: absolute;
			left: 0;
		}
	}
}
