@use '../../styles/colors';
@use '../../styles/mixins';

.main_header {
	grid-area: 1 / 2 / 2 / 6;
	display: flex;
	align-items: center;
	background-color: colors.$black;
	border-radius: 6px;
	@include mixins.shadow-gradient();
	padding: 0.5rem 2rem;

	// HeaderTitle
	h3 {
		color: colors.$white;
		-webkit-text-stroke: 1px colors.$primary;
		font-size: 2rem;
		font-weight: 500;
		letter-spacing: 1px;
		margin: 0;
	}
}
