@use '../../styles/colors';
@use '../../styles/mixins';

.main_header {
	display: flex;
	align-items: center;
	background-color: colors.$black;
	border-radius: 6px;
	@include mixins.shadow-gradient();
	padding: 0.5rem 2rem;

	@include mixins.media(desktop-m) {
		grid-area: 1 / 2 / 2 / 6;
	}
}
