@use '../../../../styles/colors';
@use '../../../../styles/variables';

.field_droppable_spot {
	color: white;
	background-color: black;
	width: variables.$avatar-width;
	height: variables.$avatar-height;
	border-radius: 50%;
	background-color: rgba(lightseagreen, 0.3);
	border: solid 3px lightseagreen;
	transition: transform 250ms ease-in-out;
	z-index: 2;

	@keyframes pulse {
		0% {
			box-shadow: 0 0 0 0 rgba(lightseagreen, 0.4);
		}
		70% {
			box-shadow: 0 0 0 20px rgba(lightseagreen, 0);
		}
		100% {
			box-shadow: 0 0 0 0 rgba(lightseagreen, 0);
		}
	}
	@keyframes pulse-dark {
		0% {
			box-shadow: 0 0 0 0 rgba(colors.$black, 0.8);
		}
		70% {
			box-shadow: 0 0 0 20px rgba(colors.$black, 0);
		}
		100% {
			box-shadow: 0 0 0 0 rgba(colors.$black, 0);
		}
	}

	&.is_dragging_player {
		animation: pulse 1.5s infinite;
		background-color: rgba(lightseagreen, 0.5);
		border: solid 3px lightseagreen;
	}

	&.is_player_on_top {
		// animation: pulse-dark 1250ms infinite;
		transform: scale(1.2);
		// background-color: rgba(lightseagreen, 0.5);
		// border: solid 2px lightseagreen;
	}
	&.has_player_inside {
		transform: scale(1);
		border-width: 0;
		// outline: solid 3px lightseagreen; //TODO: Add yes or no ?
	}
	&.is_player_on_top.has_player_inside {
		transform: scale(1.4);
	}

	.arrows_selection_area {
		display: grid;
		place-items: center;
		position: absolute;
		width: 180%;
		height: 180%;
		top: -40%;
		left: -40%;
		// border-radius: 50%;
		// transition: all ease-in-out 150ms;

		&:hover {
			.arrows_container {
				// display: block;
				// visibility: visible;
				& > svg {
					opacity: 0.4;
				}
			}
		}
	}
	.arrows_container {
		// display: none;
		// visibility: hidden;
		width: variables.$avatar-width;
		height: variables.$avatar-height;
		position: relative;

		$arrow-spacing: 5px;

		svg {
			opacity: 0;
			filter: drop-shadow(3px 3px 2px black);
			transition: 100ms ease;

			&:hover {
				opacity: 1;
				transform: scale(1.2);
				cursor: pointer;
			}
			&.isActive {
				opacity: 1 !important;
				transform: scale(1.5);
			}
		}
		.arrow_up {
			position: absolute;
			bottom: calc(100% + $arrow-spacing);
			left: calc(50% - 10px);

			&.isActive {
				bottom: calc(100% + ($arrow-spacing * 2));
			}
		}
		.arrow_up_right {
			position: absolute;
			bottom: calc(80% + $arrow-spacing);
			left: 90%;

			&.isActive {
				bottom: calc(80% + ($arrow-spacing * 2));
				left: calc(90% + $arrow-spacing);
			}
		}
		.arrow_right {
			position: absolute;
			top: calc(50% - 10px);
			left: calc(100% + $arrow-spacing);

			&.isActive {
				left: calc(100% + ($arrow-spacing * 2));
			}
		}
		.arrow_down_right {
			position: absolute;
			top: calc(80% + $arrow-spacing);
			left: 90%;

			&.isActive {
				top: calc(80% + ($arrow-spacing * 2));
				left: calc(90% + $arrow-spacing);
			}
		}
		.arrow_down {
			position: absolute;
			top: calc(100% + $arrow-spacing);
			left: calc(50% - 10px);

			&.isActive {
				top: calc(100% + ($arrow-spacing * 2));
			}
		}

		.arrow_down_left {
			position: absolute;
			top: calc(80% + $arrow-spacing);
			right: 95%;

			&.isActive {
				top: calc(80% + ($arrow-spacing * 2));
				right: calc(95% + $arrow-spacing);
			}
		}
		.arrow_left {
			position: absolute;
			top: calc(50% - 10px);
			right: calc(100% + $arrow-spacing);

			&.isActive {
				right: calc(100% + ($arrow-spacing * 2));
			}
		}
		.arrow_up_left {
			position: absolute;
			bottom: calc(80% + $arrow-spacing);
			right: 95%;

			&.isActive {
				bottom: calc(80% + ($arrow-spacing * 2));
				right: calc(95% + $arrow-spacing);
			}
		}
	}
}
