@use '../../styles/colors';
@use '../../styles/mixins';

.aside_item {
	padding: 0.75rem 0.25rem;
	transition: 150ms ease-in-out;

	.nav_link {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		color: #fff;
		text-decoration: none;

		.icon_wrapper {
			color: currentColor;
			font-size: 1rem;
		}

		.link_text {
			opacity: 0;
			transform: translateX(-50%);
			animation: text-appear 400ms ease-in-out forwards;
			animation-delay: 100ms;
		}
		@keyframes text-appear {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
	.active_nav_link {
		@extend .nav_link;
		color: colors.$primary;
	}
	&:not(.shrinked):hover {
		background-color: colors.$black;
		border-radius: 5px;
	}
	/* 
	Aside Item when Aside is shrinked
	*/
	&.shrinked {
		.nav_link {
			.icon_wrapper {
				font-size: 1.5rem;
				padding: 0.25rem;
				@include mixins.circle-background();

				&:after {
					opacity: 0;
					visibility: hidden;
					content: attr(data-tooltip);
					font-size: 14px;
					text-transform: uppercase;
					color: #fff;
					background-color: colors.$black;
					box-shadow: 0 0 4px colors.$primary;
					border: solid 1px colors.$primary;
					padding: 0.25rem 0.75rem;
					border-radius: 6px;
					position: absolute;
					transform: translate(0, 0);
					transition: 200ms ease-in-out;
					transition-delay: 100ms;
					z-index: 10;
				}
				&:hover {
					&::after {
						opacity: 1;
						visibility: visible;
						transform: translate(30px, 0);
					}
				}
			}
		}
	}
}
