@use './colors';

::selection {
	background-color: colors.$primary;
	color: colors.$black;
}

html {
	font-family: 'ChakraPetch', sans-serif, monospace;
	scroll-behavior: smooth;
}

body {
	font-family: 'ChakraPetch', sans-serif, monospace;
	color: #fff;
	scrollbar-color: colors.$primaryDark colors.$primary; //Firefox
}

p {
	margin: 0;
	max-width: 75ch; //Mejora la lectura
}
