@use './colors';

::selection {
	background-color: colors.$primary;
	color: #fff;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background-color: #000;
	// border-top-right-radius: 6px;
	// border-bottom-right-radius: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: colors.$primary;
	// border-radius: 6px;
}
html {
	font-family: 'Source Code Pro', monospace;
	scroll-behavior: smooth;
}
body {
	scrollbar-color: colors.$primaryDark colors.$primary; //Firefox
}
