/* 
For using utilities. In the className declaration.This are globals.

  <div className="some-class mb-10 pl-4">...</div>

*/

/* Margins */
@for $i from 1 to 21 {
	.m-#{$i} {
		margin: calc(#{$i} * 0.25rem);
	}
	.mb-#{$i} {
		margin-bottom: calc(#{$i} * 0.25rem);
	}
	.ml-#{$i} {
		margin-left: calc(#{$i} * 0.25rem);
	}
	.mr-#{$i} {
		margin-right: calc(#{$i} * 0.25rem);
	}
	.mt-#{$i} {
		margin-top: calc(#{$i} * 0.25rem);
	}
	.mx-#{$i} {
		margin-right: calc(#{$i} * 0.25rem);
		margin-left: calc(#{$i} * 0.25rem);
	}
	.my-#{$i} {
		margin-top: calc(#{$i} * 0.25rem);
		margin-bottom: calc(#{$i} * 0.25rem);
	}
}
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
/* End Margins */

/* Paddings */
@for $i from 1 to 21 {
	.p-#{$i} {
		padding: calc(#{$i} * 0.25rem);
	}
	.pb-#{$i} {
		padding-bottom: calc(#{$i} * 0.25rem);
	}
	.pl-#{$i} {
		padding-left: calc(#{$i} * 0.25rem);
	}
	.pr-#{$i} {
		padding-right: calc(#{$i} * 0.25rem);
	}
	.pt-#{$i} {
		padding-top: calc(#{$i} * 0.25rem);
	}
	.px-#{$i} {
		padding-right: calc(#{$i} * 0.25rem);
		padding-left: calc(#{$i} * 0.25rem);
	}
	.py-#{$i} {
		padding-top: calc(#{$i} * 0.25rem);
		padding-bottom: calc(#{$i} * 0.25rem);
	}
}

/* Fonts Sizes */
.text-xs {
	font-size: 0.75rem; /* 12px */
	line-height: 1rem; /* 16px */
}
.text-sm {
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem; /* 20px */
}
.text-base {
	font-size: 1rem; /* 16px */
	line-height: 1.5rem; /* 24px */
}
.text-lg {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}
.text-xl {
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */
}
.text-2xl {
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */
}
.text-3xl {
	font-size: 1.875rem; /* 30px */
	line-height: 2.25rem; /* 36px */
}
.text-4xl {
	font-size: 2.25rem; /* 36px */
	line-height: 2.5rem; /* 40px */
}
.text-5xl {
	font-size: 3rem; /* 48px */
	line-height: 1;
}
.text-6xl {
	font-size: 3.75rem; /* 60px */
	line-height: 1;
}
.text-7xl {
	font-size: 4.5rem; /* 72px */
	line-height: 1;
}
.text-8xl {
	font-size: 6rem; /* 96px */
	line-height: 1;
}
.text-9xl {
	font-size: 8rem; /* 128px */
	line-height: 1;
}
