//* Formations SCSS */
@use '../../styles/colors';
@use '../../styles/mixins';

.formations_layout {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 75px 1fr;
	height: 100%;
}

.formation_header {
	grid-area: 1 / 1 / 2 / 3;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;

	.usage_info {
		// border: solid 1px red;
	}
	.options {
		display: flex;
		align-items: center;
		gap: 1rem;
		height: fit-content;
	}
}

.formation_container {
	grid-area: 2 / 2 / 3 / 3;
	display: grid;
	place-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background: repeating-linear-gradient(
		to right,
		colors.$greenFieldOne,
		colors.$greenFieldOne 5%,
		colors.$greenFieldTwo 5%,
		colors.$greenFieldTwo 10%
	);
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
