//* Formations SCSS */
@use '../../styles/colors';
@use '../../styles/mixins';

.formations_layout {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 60px 1fr;
	height: 100%;
}

.formation_header {
	grid-area: 1 / 1 / 2 / 3;
	display: flex;
	justify-content: space-between;

	.usage_info {
		// border: solid 1px red;
	}
	.options {
		display: flex;
		align-items: center;
		gap: 1rem;
		// min-width: 200px;
		// border: solid 2px blue;

		p {
			min-width: max-content;
			font-weight: 600;
		}
	}
}

.formation_container {
	$greenOne: green;
	$greenTwo: rgb(6, 83, 6);

	grid-area: 2 / 2 / 3 / 3;
	display: grid;
	place-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background: repeating-linear-gradient(
		to right,
		$greenOne,
		$greenOne 5%,
		$greenTwo 5%,
		$greenTwo 10%
	);
}
