@use '../../../styles/colors';
@use '../../../styles/variables';

.formation_field {
	$line_width: 4px;

	aspect-ratio: 6 / 3;
	width: 90%;
	border: solid $line_width white;
	position: relative;

	.field_lines {
		position: absolute;
		inset: 0;
		pointer-events: none;

		.area_grande_1,
		.area_grande_2 {
			width: 15%;
			height: 60%;
			position: absolute;
			top: 20%;
			border: solid $line_width colors.$white;

			// Medialuna
			&::after {
				content: '';
				width: 3vw;
				height: calc(3vw * 2);
				border: solid 3px white;
				position: absolute;
				top: calc((100% - (3vw * 2)) / 2);
			}

			.area_chica {
				height: 50%;
				width: 50%;
				position: absolute;
				top: 25%;
				border: solid $line_width colors.$white;
			}
			.arco {
				background: repeating-linear-gradient(
					45deg,
					colors.$white,
					colors.$white 2px,
					transparent 2px,
					transparent 4px
				);
				border: solid 3px colors.$white;
				height: 30%;
				width: 20%;
				position: absolute;
				top: 35%;
			}
		}
		// Medialuna izquierda
		.area_grande_1 {
			&::after {
				right: -3vw;
				border-bottom-right-radius: calc(3vw * 2);
				border-top-right-radius: calc(3vw * 2);
			}
		}
		.area_grande_1,
		.area_grande_1 .area_chica {
			left: 0;
			border-left-width: 0;
		}
		.area_grande_1 .arco {
			left: -20%;
		}
		//Medialuna derecha
		.area_grande_2 {
			&::after {
				left: -3vw;
				border-bottom-left-radius: calc(3vw * 2);
				border-top-left-radius: calc(3vw * 2);
			}
		}
		.area_grande_2,
		.area_grande_2 .area_chica {
			right: 0;
			border-right-width: 0;
		}
		.area_grande_2 .arco {
			right: -20%;
		}
		.linea_mitad_cancha {
			background-color: colors.$white;
			width: $line_width;
			height: 100%;
			position: absolute;
			left: calc(50% - 2px);
		}
		.circulo_mitad_cancha {
			width: 25%;
			aspect-ratio: 1 / 1;
			border: solid $line_width colors.$white;
			border-radius: 50%;
			position: absolute;
			top: 25%;
			left: 37.5%;
		}
	}
	.positions_container {
		height: 100%;
		position: relative;

		.player {
			position: absolute;
		}
		// Arquero siempre fijo a la izquierda de la cancha
		.player__1 {
			top: calc(50% - (variables.$avatar-height / 2));
			left: 0;
		}

		// &.positions_5 {
		// 	border: solid 2px red;
		// }
		// &.positions_6 {
		// 	border: solid 2px red;
		// }
		// &.positions_7 {
		// 	border: solid 2px red;
		// }
		// &.positions_8 {
		// 	border: solid 2px red;
		// }
		// &.positions_9 {
		// 	border: solid 2px red;
		// }
		// &.positions_10 {
		// 	border: solid 2px red;
		// }
		// &.positions_11 {
		// 	border: solid 2px red;
		// }
		//** START 11 PLAYERS FORMATIONS **//
		&.formation_3-4-3 {
			.player {
				&__2 {
					left: 22%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 22%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 45%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 42%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 42%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 45%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__9 {
					left: 75%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 70%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__11 {
					left: 75%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_3-5-2 {
			.player {
				&__2 {
					left: 22%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 22%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 45%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 42%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 40%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 42%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 45%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__10 {
					left: 70%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__11 {
					left: 70%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_4-3-3 {
			.player {
				&__2 {
					left: 22%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 18%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 18%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 22%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__6 {
					left: 48%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 42%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 48%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__9 {
					left: 70%;
					top: calc(20% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 70%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__11 {
					left: 70%;
					bottom: calc(20% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_4-4-2 {
			.player {
				&__2 {
					left: 22%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 18%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 18%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 22%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__6 {
					left: 48%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 42%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 42%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 48%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__10 {
					left: 70%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__11 {
					left: 70%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_4-5-1 {
			.player {
				&__2 {
					left: 22%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 18%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 18%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 22%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__6 {
					left: 52%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 45%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 40%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 45%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 52%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__11 {
					left: 70%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_4-3-1-2 {
			.player {
				&__2 {
					left: 22%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 18%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 18%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 22%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__6 {
					left: 45%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 40%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 45%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__9 {
					left: 62%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 75%;
					top: calc(25% - (variables.$avatar-height / 2));
				}

				&__11 {
					left: 75%;
					bottom: calc(25% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_5-3-2 {
			.player {
				&__2 {
					left: 28%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 15%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 20%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 28%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__7 {
					left: 50%;
					top: calc(20% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 40%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 50%;
					bottom: calc(20% - (variables.$avatar-height / 2));
				}

				&__10 {
					left: 75%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__11 {
					left: 75%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_5-4-1 {
			.player {
				&__2 {
					left: 28%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 15%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 20%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 28%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__7 {
					left: 55%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 40%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 40%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 55%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__11 {
					left: 75%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_5-2-1-2 {
			.player {
				&__2 {
					left: 28%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 15%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 20%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 28%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__7 {
					left: 45%;
					top: calc(20% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 45%;
					bottom: calc(20% - (variables.$avatar-height / 2));
				}

				&__9 {
					left: 60%;
					top: calc(50% - (variables.$avatar-height / 2));
				}

				&__10 {
					left: 75%;
					top: calc(30% - (variables.$avatar-height / 2));
				}

				&__11 {
					left: 75%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}
		/** END 11 PLAYERS FORMATIONS */

		/** START 10 PLAYERS FORMATIONS */
		&.formation_2-4-3 {
			.player {
				&__2 {
					left: 20%;
					top: calc(25% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					bottom: calc(25% - (variables.$avatar-height / 2));
				}

				&__4 {
					left: 45%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 42%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 42%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 45%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__8 {
					left: 75%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 70%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 75%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_3-3-3 {
			.player {
				&__2 {
					left: 22%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 22%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 50%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 45%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 50%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__8 {
					left: 75%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 70%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 75%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_3-4-2 {
			.player {
				&__2 {
					left: 22%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 22%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 50%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 42%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 42%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 50%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__9 {
					left: 75%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 75%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_3-2-4 {
			.player {
				&__2 {
					left: 22%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 22%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 45%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 45%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}

				&__7 {
					left: 75%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 70%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 70%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 75%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_4-3-2 {
			.player {
				&__2 {
					left: 22%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 18%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 18%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 22%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__6 {
					left: 48%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 42%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 48%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__9 {
					left: 70%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 70%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}

		&.formation_4-2-3 {
			.player {
				&__2 {
					left: 22%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 18%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 18%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 22%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__6 {
					left: 45%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 45%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}

				&__8 {
					left: 70%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 75%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__10 {
					left: 70%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}
			}
		}
		/** END 10 PLAYERS FORMATIONS */

		/** START 9 PLAYERS FORMATIONS */
		&.formation_2-3-3 {
			.player {
				&__2 {
					left: 20%;
					top: calc(25% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					bottom: calc(25% - (variables.$avatar-height / 2));
				}

				&__4 {
					left: 45%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 42%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 45%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__7 {
					left: 75%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 72%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 75%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_2-4-2 {
			.player {
				&__2 {
					left: 20%;
					top: calc(25% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					bottom: calc(25% - (variables.$avatar-height / 2));
				}

				&__4 {
					left: 50%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 42%;
					top: calc(40% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 42%;
					bottom: calc(40% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 50%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__8 {
					left: 75%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 75%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_3-2-3 {
			.player {
				&__2 {
					left: 22%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 22%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 45%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 45%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}

				&__7 {
					left: 70%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 75%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 70%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_3-3-2 {
			.player {
				&__2 {
					left: 25%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 25%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 55%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 42%;
					bottom: calc(50% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 55%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__8 {
					left: 75%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 75%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_4-2-2 {
			.player {
				&__2 {
					left: 25%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 18%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 18%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 25%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__6 {
					left: 45%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 45%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}

				&__8 {
					left: 75%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__9 {
					left: 75%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_4-3-1 {
			.player {
				&__2 {
					left: 25%;
					top: calc(10% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 18%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 18%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 25%;
					bottom: calc(10% - (variables.$avatar-height / 2));
				}

				&__6 {
					left: 55%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 42%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 55%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__9 {
					left: 75%;
					bottom: calc(50% - (variables.$avatar-height / 2));
				}
			}
		}
		/** END 9 PLAYERS FORMATIONS */

		/** START 8 PLAYERS FORMATIONS */
		&.formation_2-3-2 {
			.player {
				&__2 {
					left: 20%;
					top: calc(25% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					bottom: calc(25% - (variables.$avatar-height / 2));
				}

				&__4 {
					left: 55%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 42%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 55%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__7 {
					left: 75%;
					top: calc(25% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 75%;
					bottom: calc(25% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_2-3-1-1 {
			.player {
				&__2 {
					left: 20%;
					top: calc(25% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					bottom: calc(25% - (variables.$avatar-height / 2));
				}

				&__4 {
					left: calc(50% - (variables.$avatar-width / 2));
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: 35%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: calc(50% - (variables.$avatar-width / 2));
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__7 {
					right: 35%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 75%;
					bottom: calc(50% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_2-2-3 {
			.player {
				&__2 {
					left: 20%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}

				&__4 {
					left: calc(50% - (variables.$avatar-width / 2));
					top: calc(25% - (variables.$avatar-height / 2));
				}
				&__5 {
					left: calc(50% - (variables.$avatar-width / 2));
					bottom: calc(25% - (variables.$avatar-height / 2));
				}

				&__6 {
					left: 72%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 75%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 72%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_3-2-2 {
			.player {
				&__2 {
					left: 22%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 22%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 45%;
					top: calc(35% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 45%;
					bottom: calc(35% - (variables.$avatar-height / 2));
				}

				&__7 {
					left: 70%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__8 {
					left: 70%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_3-3-1 {
			.player {
				&__2 {
					left: 22%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 22%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 52%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 42%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__7 {
					left: 52%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__8 {
					left: 75%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
			}
		}
		&.formation_3-2-1-1 {
			.player {
				&__2 {
					left: 22%;
					top: calc(15% - (variables.$avatar-height / 2));
				}
				&__3 {
					left: 20%;
					top: calc(50% - (variables.$avatar-height / 2));
				}
				&__4 {
					left: 22%;
					bottom: calc(15% - (variables.$avatar-height / 2));
				}

				&__5 {
					left: 45%;
					top: calc(30% - (variables.$avatar-height / 2));
				}
				&__6 {
					left: 45%;
					bottom: calc(30% - (variables.$avatar-height / 2));
				}

				&__7 {
					left: 60%;
					top: calc(50% - (variables.$avatar-height / 2));
				}

				&__8 {
					left: 75%;
					bottom: calc(50% - (variables.$avatar-height / 2));
				}
			}
		}
		/** END 8 PLAYERS FORMATIONS */

		// display: grid;
		// grid-auto-flow: column;
		// grid-gap: 10px;
		// grid-template-rows: repeat(12, 1fr);
		// grid-template-columns: 90px repeat(4, 1fr);
		// display: flex;
		// justify-content: space-evenly;
		// &.columns_2 {
		// 	grid-template-columns: 90px repeat(2, 1fr);
		// }
		// &.columns_3 {
		// 	grid-template-columns: 90px repeat(3, 1fr);
		// }
		// &.columns_4 {
		// 	grid-template-columns: 90px repeat(4, 1fr);
		// }
		// .player {
		// 	display: grid;
		// 	place-items: center;
		// 	outline: solid 1px red;

		// 	// Arquero siempre fijo a la izquierda de la cancha
		// 	&__one {
		// 		grid-row: span 12;
		// 		// position: absolute;
		// 		// left: 0;
		// 		// top: calc(50% - 30px);
		// 	}
		// 	&__two,
		// 	&__three,
		// 	&__four,
		// 	&__five,
		// 	&__six,
		// 	&__seven,
		// 	&__eight,
		// 	&__nine,
		// 	&__ten,
		// 	&__eleven {
		// 		grid-row: span 3;
		// 	}
		// }
	}
}
