@use '../../styles/colors';
@use '../../styles/mixins';

/* 
    Aca se declaran las clases que sobreescribiran ciertos estilos de los modales de SweetAlert2
    Las clases aca declaradas estan definidas en el componente SwalCustom que toma el componente Swal de la
    libreria y le agrega ciertos defaults. Asi tenemos un componente de SweetAlert2 con los estilos que queremos en 
    todo el sitio.
*/

.swal-container-custom {
	background-color: rgba(colors.$primary, 0.25) !important;
}
.swal-popup-custom {
	@include mixins.shadow-gradient($color: lighten(colors.$black, 10%));
}
.swal-button-custom {
	text-transform: uppercase !important;
	font-weight: 600 !important;
	color: colors.$black !important;
	padding: 0.5em 1.5em !important;
	margin: 0.6em !important;
}

.swal-title-custom {
	color: colors.$white;
	font-size: 24px !important;
}
